<div class="col-md-4 mx-auto">
    <div class="card text-center">
    <div class="card-header">
        <h1>Products</h1>
    </div>
{{> formulario}}
<div class="col-sm mx-auto">
    <div class="card text-center">
    <h3>LIST</h3>
    </div>
</div>
{{#if validarP}}
{{> tabla}}
{{else}}
<h1>There's not any product</h1>
{{/if}}
</div>
</div>